<header class="navbar">
  <div class="logo" routerLink="/">Warsztat 🚗</div>

  <nav class="nav-center">
    <a routerLink="/">Start</a>
    <a routerLink="/items">Wszystkie</a>
    <a routerLink="/items/new" class="nav-btn-primary">Dodaj nowy</a>
  </nav>

  <div class="nav-right">
    <a routerLink="/cart" class="cart-link">
      Koszyk ({{ cartService.items().length }})
    </a>
    @if (authService.currentUser(); as user) {
      <div class="user-menu">
        <div class="avatar" [title]="user.username">
          {{ getInitials(user.username) }}
        </div>

        <button class="logout-btn" (click)="logout()">
          Wyloguj
        </button>
      </div>
    } @else {
      <button class="login-btn" (click)="isModalOpen.set(true)">
        Zaloguj
      </button>
    }
  </div>
</header>

@if (isModalOpen()) {
  <app-login-modal (close)="isModalOpen.set(false)"></app-login-modal>
}
