<header class="navbar">
  <div class="logo" routerLink="/">Warsztat 🚗</div>

  <nav>
    <a routerLink="/">Start</a>

    @if (authService.currentUser(); as user) {
      <div class="user-menu">
        <div class="avatar" [title]="user.username">
          {{ getInitials(user.username) }}
        </div>

        <button class="logout-btn" (click)="logout()">
          Wyloguj
        </button>
      </div>
    } @else {
      <button class="login-btn" (click)="isModalOpen.set(true)">
        Zaloguj
      </button>
    }
  </nav>
</header>

@if (isModalOpen()) {
  <app-login-modal (close)="isModalOpen.set(false)"></app-login-modal>
}
