<div class="login-wrapper">
  <h2>{{ isLoginMode() ? 'Zaloguj się' : 'Zarejestruj się' }}</h2>

  <form [formGroup]="authForm" (ngSubmit)="onSubmit()">

    <input
      type="email"
      formControlName="email"
      placeholder="Adres Email"
    />
    <div *ngIf="authForm.get('email')?.touched && authForm.get('email')?.invalid" class="error">
      Podaj poprawny email.
    </div>

    <input
      type="password"
      formControlName="password"
      placeholder="Hasło (min. 6 znaków)"
    />
    <div *ngIf="authForm.get('password')?.touched && authForm.get('password')?.invalid" class="error">
      Hasło musi mieć min. 6 znaków.
    </div>

    <div *ngIf="errorMessage()" class="error" style="margin-bottom: 10px;">
      {{ errorMessage() }}
    </div>

    <button type="submit" [disabled]="authForm.invalid">
      {{ isLoginMode() ? 'Zaloguj' : 'Zarejestruj' }}
    </button>
  </form>

  <a class="toggle-link" (click)="toggleMode()">
    {{ isLoginMode() ? 'Nie masz konta? Zarejestruj się' : 'Masz już konto? Zaloguj się' }}
  </a>

  <div class="divider">
    <span>LUB</span>
  </div>

  <div #googleBtn></div>
</div>
